body {
    text-align: center;
}

.emoji {
    font-size: 150px;
    margin-top: 10px;
    margin-bottom: 1px;
}

.title {
    font-family: 'Shantell Sans', cursive;
    font-size: 40px;
    margin-top: 10px;
}

#selected-country {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
}

.result-block {
    display: inline-block;
    background-color: rgb(243, 239, 239);
    width: 350px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(171, 162, 162);
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    margin-left: 50px;
}

#schoolname {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-bottom: 3px;
    margin-top: 20px;
}

#countryname {
    font-family: Arial, Helvetica, sans-serif;
    
}

#web {
    color: rgb(117, 183, 224);
    margin-top: 25px;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 150px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #f2f2f8;
    border-color: #f2f2f8 transparent #060707 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  