body {
    background-color: #F1F5F8;
    font-family: 'Inter', sans-serif;
}

.logo {
    display: inline-block;
    font-weight: 500;
    font-size: xx-large;
    margin-top: 9px;
    margin-left: 30px;
}

.wrapper {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */

    box-shadow:  2px 2px 10px rgb(211, 211, 211);
}

    /* Button */
.item-container {
    /* display: inline-block; */
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-item  {
    color: #8CA4BE;
    font-weight: 400;    
    text-decoration: none;
}


.icon-container {
    /* display: inline-block; */
    display: flex;

}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.dropdown {
    height: 100%;
    margin-top: 30px;
    margin-right: 20px;
    display: inline;
}

.dropdown-btn {
    display: none;
    width: 25px;
    height: 25px;
}

.dropdown-btn:hover {
    cursor: pointer;
}


@media only screen and (max-width: 900px) {
    .icon-container {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        font-size: larger;
    }
    .icon-container {
        display: none;
    }

    .dropdown {
        height: 100%;
        float: right;
    }

    .item-container {
        display: none;
        background-color: white;
        top: 45px;
        right: -20px;
        width: 100vw;

        position: absolute;
        /* width: 100%; */
        box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
        z-index: 1;
      
    }

    .nav-item {

        float: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

    }


    .dropdown-btn {
        display: inline-block;
    }

    .dropdown:hover .item-container {
        display: block;
    }
    
    .dropdown:hover .dropdown-btn {
        transform: rotate(90deg);
    }

    .nav-item:hover {
        background-color: #d5dde6;
        color: #8CA4BE;
    }




}